body {
    background-color: #ffffcc ;
    color: #330000; 
    font-family: verdana;
}

#container{
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 20%;
    height: 480px;
    width: 750px;
    border: solid black;
    padding:0px;

}

#header {
    background-color: #CCAA66;
    text-align: center;
    border-bottom-style: solid;
    border-top-style: solid;
    height: 80px;
    margin: 0px;
} 

#hyperlinks {
    background-color: #E8D882;
    position: relative;
    padding-left: 20px;
    left: 0px;
    width: 130px;
    height: 320px;
    float:left;
    white-space:pre-line;
    text-decoration: none;
 
}

#hyperlinks a{
    text-decoration: none;
}

#home{
    background-color: #F1E8B0;
    position: relative;
    width: 580px;
    height: 300px;
    padding: 10px;
    float:right;
    text-align: left;

}

#Menu{
    background-color: #F1E8B0;
    position: relative;
    width: 580px;
    height: 300px;
    padding: 10px;
    float:right;
    text-align: left;
}

#menutitle{
    position:absolute;
    left: 210px;
}


#pastries{
    position:absolute;
    top:70px;
    left:250px;
 
}

#pastriesmenu{
    position:absolute;
    top:125px;
    left:250px;
    line-height: 23px ;
}

#coffee{
    position: absolute;
    top: 70px;

}

#coffeemenu{
    position: absolute;
    top:125px;
}

#Music{
    background-color: #F1E8B0;
    position: relative;
    width: 580px;
    height: 300px;
    padding: 10px;
    float:right;
    text-align: left;

}

#musiclist{
    list-style-type: none;
}

#Jobs{
    background-color: #F1E8B0;
    position: relative;
    width: 580px;
    height: 300px;
    padding: 10px;
    float:right;
    text-align: left;
    line-height: 25px;

}

#footer{
    background-color: #CCAA66;
    border-top-style: solid;
    height:61px;
    font-style: italic;
    padding-top: 10px;
    text-align: center;
    width: 750px;
    margin-top: 320px;
}

.page {
    display: none;
    padding: 30px;
    background-color: #F1E8B0;

}

.active{
    display: block;

}

.page:target {
    display: block;
}



